/* FORM */

.input-fields-flex > form {
    display: flex;
    flex-direction: column;
  }
  
  .input-fields-flex {
    width: 94%;
  }
  
  .input-field {
    margin: 12px 0px;
    padding: 16px 16px;
    font-size: 14px;
    max-width: 728px;
    width: 80vw;
    color: var(--text-pri);
    border: 1px solid var(--text-pri);
    border-radius: 8px;
  }
  
  .input-field:focus {
    color: var(--text-sec);
    outline: none;
    transition: .75s;
    border-color: var(--accent);
  }
  
  .input-field:not(:placeholder-shown):not(:focus) {
    color: var(--text-sec);
    transition: .65s;
  }
  
  .input-field-valid{
    border-color: var(--success);
  }
  
  .input-field-invalid{
    border-color: var(--error);
  }
  
  .checkbox-container-flex {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .checkbox {
    -webkit-appearance: none;
    background-color: var(--primary);
    border: 1px solid var(--text-pri);
    border-radius: 4px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  
  .checkbox:hover {
    cursor: pointer;
  }
  
  .checkbox:checked {
    background-color: var(--accent);
    border: 1px solid var(--text-pri);
  }
  
  .conditions-text {
    font-size: 14px;
    color: var(--text-pri);
  }
  
  a {
    color: var(--accent);
    text-decoration: none;
  }
  
  .cta-button {
    margin: 0;
    height: 56px;
    font-size: 16px;
    color: var(--text-sec);
    background-color: var(--accent);
    border: 0 solid transparent;
    border-radius: 8px;
    width: fit-content;
    padding: 0 10%;
    cursor: pointer;
  }