<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/css/style.css" />
    <title>It's a joke!</title>
  </head>
  <body>
    <div id="contact">
      <div class="heading-flex">
        <h1>Get a joke delivered to you.</h1>
        <p class="description">
          You look like you need a good joke to cheer you up today. Don't worry.
          I got you covered.
        </p>
      </div>
      <div class="input-fields-flex">
        <form action="" method="get" class="email-form">
          <input 
            type="text" 
            placeholder="First Name" 
            name="first-name" 
            class="input-field" 
          />
          <input 
            type="text" 
            placeholder="Last Name" 
            name="last-name" 
            class="input-field" 
          />
          <input 
            type="text" 
            placeholder="Company Name" 
            name="company-name" 
            class="input-field" 
          />
          <input 
            type="email" 
            placeholder="Email" 
            class="input-field" 
          />
          <input 
            type="email" 
            placeholder="Confirm Email" 
            class="input-field" 
          />
          <div class="checkbox-container-flex">
              <input 
                type="checkbox" 
                class="checkbox" 
              />
              <p class="conditions-text">
                I agree to nothing and I just want a funny <a href="">Joke</a> – no data is
                being collected.
              </p>
          </div>
          <input type="submit" value="Continue" class="cta-button" />
        </form>
      </div>
      <hr class="divider"></hr>
    </div>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script type="text/babel" src="/components/js/contact.js">
    React.render(
        <Contact />,
        document.getElementById('content')
      );
      </script>
  </body>
</html>
